{% extends 'main.html' %} {% block content %}

{% load tz %}

<main class="formPage my-xl">
  <div class="content-box">
    <h1>{{ticker.symbol}}</h1>
    <p>{{ticker.info}}</p>

    <table class="price-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Open price</th>
          <th>Close price</th>
          <th>Volume</th>
          <th>Direction</th>
          {% if request.user.is_superuser %}
            <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
        {% for price in prices %}


        <tr>
          <td> {{ price.date|timezone:user_timezone }} </td>
          <td> £{{price.open|floatformat:2 }} </td>
          <td> £{{price.close|floatformat:2 }} </td>
          <td> {{price.volume|floatformat:2 }} </td>
          <td> {{price.trade }} </td>
          {% if request.user.is_superuser %}
            <td> <a href = "{% url 'update-price' price.id %}" >Update </a>
            <a href = "{% url 'delete-price' price.id %}" >Delete </a> </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>

  </div>
</main>

{% endblock content %}
