{% extends 'main.html' %} {% block content %}

<div class="container container--narrow">

    <head>
        <title>News</title>
    </head>
    <body>
        <h1>News</h1>

        <h2>Upload news</h2>
        <a href="{% url 'upload-news' %}">Upload News</a>

        <h1>News Model</h1>
        <a href = "{% url 'ml-news-model' %}" >News Tool</a>

        <h2> Select the currecy for this week news </h2>
        <form method="get">
            {{ form.as_p }}
            <button type="submit">Filter</button>
        </form>
        <h2>News for this week</h2>
        <div>
            {% if news_data %}
                {% for date, news_list in news_data.items %}
                    <h3>{{ date }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Time</th>
                                <th>Event</th>
                                <th>Impact</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for news in news_list %}
                                <tr>
                                    <td>{{ news.time }}</td>
                                    <td>{{ news.event }}</td>
                                    <td>{{ news.impact }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% else %}
                <p>No news available for the selected currency and date range.</p>
            {% endif %}
        </div>
    </body>

</div>
{% endblock content %}
