{% extends 'main.html' %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">

            {% if page == 'register' %}

                <h1>Register User </h1>
                
                <form class="form" method="POST" action="{% url 'register' %}">
                    {% csrf_token%}

                    {%for field in form %}
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}} </label>
                        {{field}}
                        {% if field.label == 'Password' %}
                            <ul>
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Register User"/>
                    
                </form>
                <p> Already have an account <a href = "{% url 'login' %}"> Login </a></p>

           
            {% else %}

                <h1>Login</h1>
                <form class="form" action={% url 'login' %} method="POST" >
                    {% csrf_token %}
                    <input type="text" name="email" placeholder="Email"/>
                    <input type="password" name="password"placeholder="Enter password" />
                    <input class="btn btn--sub btn--lg  my-md"  type="submit" name="Login" />
                    <p> Don't have an account <a href = "{% url 'register' %}"> Sign Up</a></p>
                </form>

            {% endif %}

        </div>
    </div>
</main>

{% endblock content %}