{% extends 'main.html' %} {% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <h1>About</h1>
        <p>Do you find yourself lost and not knowing what market direction is doing?</p>
        <p>This is a tool to help give you a sense of the direction at the hour. 
            It is trained on some key parameters like: </p>

        <ul>
            <li>
                MA20, MA50, MA100
            </li>
            <li>
                Bollinger Band
            </li>
            <li>
                market trend strength
            </li>
        </ul>

        <p>It will tell you if the trend is mostly oscillating or trending in a direction. Often we have many confirmation indicator but how do we put weights on them.
            This machine model will help give you a better sense on this by examining historical data and make those correlation.
        </p>

    </div>

</main> 

{% endblock content %}
