{% extends 'main.html' %} {% block content %}

<div class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
          <div class="hero-section__box">
            <h2>TradePro <span>Tool</span></h2>
            <p>Know current market direction to help your trade</p>
          </div>
        </div>
    </section>

    <section class="projectsList">
        <div class="container">
        <h1>Analysis Tools</h1>

       
            <div class="grid grid--two">

                    <div class="column">
                        <div class="card project">
                       
                            <img class="trade_image" src="/static/images/noun-report-6647086.svg" alt="report" />
                                <div class="card__body">
                                <h3 class="project__title">Trade Report</h3>
                                <p class="project--rating">
                                    Report on trade opportunity with summary of results and analysis.
                                </p>
                                <p><a class="project__author" href="{% url 'ml-report' %}">View Results</a></p>
                                </div>
                        </div>
                      
                    </div>

                    <div class="column">
                        <div class="card project">
                      
                            <img class="project__thumbnail" src="" alt="project thumbnail" />
                                <div class="card__body">
                                <h3 class="project__title">Prediction</h3>
                                <p class="project--rating">
                                    Predictions on market trends from machine learning models. Provide a potential trade opportunities.
                                </p>
                                <p><a class="project__author" href="{% url 'ml-predictions' %}">View Results</a></p>
                                </div>
                        </div>
                        
                    </div>

                    <div class="column">
                        <div class="card project">
                           
                                <img class="project__thumbnail" src="" alt="project thumbnail" />
                                    <div class="card__body">
                                    <h3 class="project__title">Sensitivity Test</h3>
                                    <p class="project--rating">
                                        Understand the variation of model predictions within a range of +/-15 pips to help confirm the current prediction.
                                    </p>
                                    <p><a class="project__author" href="{% url 'ml-variability' %}">View Results</a></p>
                                    </div>
                                </div>
                           
                    </div>

                </div>
            </div>

      <div class="container">
        <h1>About</h1>
       
        <p>This is a tool to help give you a sense of the direction at the hour. 
            It is models trained on some key parameters like: </p>

        <ul>
            <li>
                MA20, MA50, MA100
            </li>
            <li>
                Bollinger Band
            </li>
            <li>
                market trend strength
            </li>
        </ul>

        <p>It will tell you whether the trend is mostly oscillating or trending in a particular direction.
             Often, we use technical indicators and fundamentals to confirm a direction, but these are based on experience and there is 
             too many different combinations. With machine model, it helps decipher these patterns and gives an good indication of the direction. 
             It is found the pattern proceed the news because commercial trading knows more than retail and already has set the trend. 
             The big players have already placed their bet.
        </p>

    </div>

</div> 

{% endblock content %}
