{% extends 'main.html' %} {% block content %}

<div class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
          <div class="hero-section__box">
            <h2>TradePro <span>Tool</span></h2>
            <p>Know current market direction to help your trade</p>
          </div>
        </div>
    </section>

    <section class="projectsList">
        <div class="container">
        <h1>Analysis Tools</h1>

       
            <div class="grid grid--two">

                    <div class="column">
                        <div class="card project">
                       
                            <img class="trade_image" src="/static/images/report.svg" alt="report" />
                                <div class="card__body">
                                <h3 class="project__title">Trade Report</h3>
                                <p class="project--rating">
                                    Report on trade opportunity with summary of results and analysis.
                                </p>
                                <p><a class="project__author" href="{% url 'ml-report' %}">View Results</a></p>
                                </div>
                        </div>
                      
                    </div>

                    <div class="column">
                        <div class="card project">
                       
                            <img class="trade_image" src="/static/images/news_icon.svg" alt="news" />
                                <div class="card__body">
                                <h3 class="project__title">News Summary</h3>
                                <p class="project--rating">
                                    Glimpse of the weekly news and understanding it's impact on market.
                                </p>
                                <p><a class="project__author" href="{% url 'get-news' %}">View Results</a></p>
                                </div>
                        </div>
                      
                    </div>

                    <div class="column">
                        <div class="card project">
                      
                            <img class="trade_image" src="/static/images/prices.svg" alt="project thumbnail" />
                                <div class="card__body">
                                <h3 class="project__title">Price</h3>
                                <p class="project--rating">
                                    A collection of market prices for references.
                                </p>
                                <p><a class="project__author" href="{% url 'tickers' %}">View Results</a></p>
                                </div>
                        </div>
                        
                    </div>

                    <div class="column">
                        <div class="card project">
                           
                                <img class="trade_image" src="/static/images/accuracy.svg" alt="project thumbnail" />
                                    <div class="card__body">
                                    <h3 class="project__title">Accuracy</h3>
                                    <p class="project--rating">
                                        Understand the model accuracy.
                                    </p>
                                    <p><a class="project__author" href="{% url 'model-accuracy' %}">View Results</a></p>
                                    </div>
                                </div>
                           
                    </div>

                </div>
            </div>

      

</div> 

{% endblock content %}
