{% extends 'main.html' %} {% block content %}

<div class="container container--narrow">

    <div class="container">
        <h1>Select the currency</h1>
        <div class="formPage my-md">
            <form action="" method="POST">
                {%csrf_token%} 
                {{form.as_p}}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
        

        <h1>Trade Records</h1>

        <table>
            <tbody>
            <thead>
    
                <tr>
                    <td> Date </td>
                    <td> History, Continuation, Reversal </td>
                    <td> Record Comments </td>
                    <td> Price </td>
                    <td> direction </td>
                </tr>
                
                    
            </thead>
    
                {% for record in trade_records %}
                    <tr>
                        <td>{{ record.created_at }}</td>
                        <td>
                            <ul class="list_indent">

                                <li>{{ record.results.comments.hist }}</li>
                                <li>{{ record.results.comments.cont }}</li>
                                <li>{{ record.results.comments.rev }}</li>

                            </ul> 
                        </td>
                        <td>{{ record.trade_comment }}</td>
                        <td>£{{ record.results.current_market.open_prices_1hr|floatformat:2 }} to 
                            £{{ record.results.current_market.close_prices.3|floatformat:2 }}
                        </td>
                        <td>{{ record.results.current_market.trade_1hr }}</td>

                    </tr>
                {% endfor %}
    
               
                
            </tbody>
        </table>

    </div>
</div>

{% endblock content %}