{% extends 'main.html' %} 
{% block content %}

<div class="container container--narrow">
    

    <div class="price-notifications">
        <div class="price-notification">
            <span class="label">Date:</span>
            <span class="value">{{rounded_time}}</span>
        </div>
        <div class="price-notification">
            <span class="label">Open Price:</span>
            <span class="value">£{{open_prices.3|floatformat:2}}</span>
        </div>
        <div class="price-notification">
            <span class="label">Current Price:</span>
            <span class="value">£{{ close_prices.3|floatformat:2 }}</span>
        </div>
        <div class="price-notification">
            <span class="label">Estimated Volume:</span>
            <span class="value">{{ projected_volume|floatformat:0 }}</span>
        </div>

        {% if volume %}
        {% with second_volume=volume.2 %}
        {% if second_volume > 3000 %}
        <div class="price-notification">
        <div class="flash-container-orange">
            <div class="flash-box-orange">
                            <span class="label">Previous Volume:</span>
                            <span > {{ second_volume }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
    
    </div>

  

    <div class="formPage my-md">
        <form action="" method="POST">
            {%csrf_token%} 
            {{form.as_p}}
            <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
        </form>
    </div>

    
    <div class="expandable-content">
        <button onclick="toggleText()" class="btn btn--sub--outline btn--md my-md">Extra Information</button>
        <div id="hidden-text" style="display: none;">
            <h2>Model Information</h2>
            <p>The model predicts new trades at the start of each hour. While currency movements can be volatile, you may find opportunities to enter the recommended entry point during this timeframe.</p>
            <p>This tool is designed to validate your observations and indicate optimal times to focus on a trade.</p>
            
            <h2>Extra Market Information</h2>
                <p><big>Current 1 hr Candle Stick size: {{ candle_size.one|floatformat:3 }}, direction: <b> {{trade.one}} </b> </big></p>
                <p><big>Current 4 hr Candle Stick size: {{ candle_size.four|floatformat:3 }}, direction: <b> {{trade.four}} </b> </big></p>
                <p>Last open price 4 hrs ago: £{{ open_prices.0|floatformat:2 }} </p>
        </div>
    </div>  
    

    <p>Be sure to review the accuracy of the models and see which direction the model is predicting with greater reliability.</p> 
    <a class="singleProject__liveLink" href="{% url 'model-accuracy' %}">Model Accuracy</a>

    
    
    <h1>Trade Opportunity</h1>
    
    <p> v4 model seems to be more reliable and 1h_v5 model gives you immediate direction but could switch easily. Combine this with other readings.</p>
    <p> Model prediction for the next 4 hrs.</p>
    <p> Last date model was updated: <b class="flashing-text-red">{{date}}</b> </p>
    {% if potential_trade == 'Buy' %}
        <div class="flash-container-buy">
            <div class="flash-box-buy">
                <p><b>{{ version_comment }}</b></p>
            </div>
        </div>
    {% elif potential_trade == 'Sell' %}
        <div class="flash-container-sell">
            <div class="flash-box-sell">
                <p><b>{{ version_comment }}</b></p>
            </div>
        </div>
    {% endif %}

        <table>
            <tr style="color:purple;"> 
                <td> Trade direction: </td> 
                <td><b> {{potential_trade}} </b></td>
            </tr>
            <tr style="color:red;">
                <td>Stop loss: </td>
                <td> <b> £{{stop_loss|floatformat:2}} </b></td>
            </tr>
            <tr style="color:blue;">
                <td>Best Entry point: </td>
                {% if open_prices.3|floatformat:2 > entry_point|floatformat:2 %}
                    <td> <b>£{{entry_point|floatformat:2}} - £{{open_prices.3|floatformat:2}} </b></td>
                {% else %}
                    <td> <b>£{{open_prices.3|floatformat:2}} - £{{entry_point|floatformat:2}} </b></td>
                {% endif %}
                
            </tr>
            <tr style="color:green;">
                <td>Target point: </td>
                <td> <b> £{{exit_point|floatformat:2}} </b></td>
            </tr>
            <tr style="color:orange;">
                <td>Risk Reward ratio: </td>
                <td> <b> {{risk_reward|floatformat:2}}</b></td>
            </tr>
            <tr>
                <td>4hr Upper Bollinger Band: </td>
                <td> <b> £{{bb_target.upper_bb4|floatformat:2}} </b></td>
            </tr>
            <tr>
                <td>4hr Lower Bollinger Band: </td>
                <td> <b> £{{bb_target.lower_bb4|floatformat:2}} </b></td>
            </tr>
            <tr>
                <td>Average Open Price </td>
                <td> <b> £{{average_open_price|floatformat:2}} </b></td>
            </tr>
            <tr>
                <td>Final Exit Price </td>
                <td> <b> £{{final_exit_price|floatformat:2}} </b></td>
            </tr>
        </table>
        <p>NOTE:</p>
        <p>1) Risk Reward greater than 1 is a good risk</p>
        <p>2) 4hr Bollinger Band entry is provided for medium and long term entry. Here you can set a 'limit' or 'stop' entry. These values may be different from offical charts which is due to raw prices being different.</p>
        <p>3) Big spread means you may need to take 70% of the target!</p>


    <h1>Analysis Report</h1>
    <h2>History to Current</h2>

    <table>
        <thead>

            <tr>
                {% for label, headers in historical_labels.items %}
                  
                        <th></th>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                
                {% endfor %}
            </tr>
                
        </thead>
        <tbody>

            {% for version, trades in historical_trade_results.items %}
            <tr>
                <td>{{ version }}</td>
                {% for trade in trades %}
                    <td>{{ trade }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <tr>
                <td>Open price</td>
                {% for price in open_prices %}
                <td style="color:blue;">£{{ price|floatformat:2 }}</td>
                {% endfor %}

            </tr>

            <tr>
                <td>v4 Profit / Loss </td>
                {% for pl in v4_pred_pl %}
                <td style="color: {% if pl > 0 %}green{% elif pl < 0 %}red{% else %}black{% endif %}">{{ pl }} pips</td>
                {% endfor %}

            </tr>

            <tr>
                <td>v5 Profit / Loss </td>
                {% for pl in v5_pred_pl %}
                <td style="color: {% if pl > 0 %}green{% elif pl < 0 %}red{% else %}black{% endif %}">{{ pl }} pips</td>
                {% endfor %}

            </tr>

            <tr>
                <td>Volume</td>
                {% for vol in volume %}
                <td style="color:blue;">{{ vol }}</td>
                {% endfor %}

            </tr>

            <tr>
                <td>Flatness</td>
                {% for flat_indicator in flatness1 %}
                <td style="color:purple;">{{ flat_indicator|floatformat:2 }}</td>
                {% endfor %}

            </tr>
            
        </tbody>
    </table>
    <p>NOTE:</p>
    <p>1. Assess if the PL for the last four hours is negative or positive. These are some of the interpretations:</p>
        <ul class="list_indent">
            <li>1. Negative PL could mean projection is expected to be realized within the 4-hour timeframe.</li>
            <li>2. Negative PL means the model may be invalidated, indicating potential contrarian trade.</li>
            <li>3. Mixed PL means oscillation is occurring so consider the extreme points of the Bollinger Bands.</li>
            <li>4. Positive PL means movement is getting strong but watch for any resistance; this include MA and bollinger band.</li>
        </ul>
    <p>2. The closer the flatness value is to zero, consider more of an oscillatory strategy!</p>


    <h2>Sensitivity Test</h2>
        <p>What if scenarios:</p>
        <ul class="list_indent">
            <li>What happens if price move 10 pips up?</li>
            <li>What happens if price move 10 pips down?</li>
            <li>Does the prediction become stronger or weaker?</li>
        </ul>

        <table>
            <thead>
                <tr>
                    <th>Movement</th>
                    <th>Sensitivity Results</th>
                </tr>
            </thead>
            <tbody>

                {% for variability, result  in pred_var_list.items %}
                <tr>
                    <td>{{ variability }}</td>
                
                        <td>{{ result }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>


     <h2>Prediction of reversal</h2>
        
        <table>
            <thead>
    
                <tr>
                        <th></th>
                        <th>3hr ago</th>
                        <th>2hr ago</th>
                        <th>1hr ago</th>
                        <th>current</th>
    
                </tr>
                    
            </thead>
            <tbody>
    
                <tr>
                    <td>Trade Direction</td>
                    {% for trade in trade_dict %}
                        <td>{{ trade }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Confirmation of Direction</td>
                    {% for pred in reverse_pred %}
                        <td>{{ pred }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Accuracy</td>
                    {% for prob in reverse_prob%}
                        <td>{{ prob|floatformat:2 }}%</td>
                    {% endfor %}
                </tr>
                
            </tbody>
        </table>
    
    <br>
    <hr>
    <h1> Next Candle Stick Predictions</h1>
    <h2 style="color: green;">Continuation of a {{potential_trade}} </h2>
    <p>This looks at how strong the movement in the coming hour. It is good indication if the current movement will continue.</p>

    {% if potential_trade_con == 'Buy' %}
    <div class="flash-container-buy">
        <div class="flash-box-buy">
            <p><b>NEXT: {{ version_comment_con }}</b></p>
        </div>
    </div>
    {% elif potential_trade_con == 'Sell' %}
        <div class="flash-container-sell">
            <div class="flash-box-sell">
                <p><b>NEXT: {{ version_comment_con }}</b></p>
            </div>
        </div>
    {% endif %}

    <table>
        <thead>

            <tr>
                {% for label, headers in continue_labels.items %}
                    <th></th>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
                
        </thead>
        <tbody>

            {% for version, trades in continue_trade_results.items %}
            <tr>
                <td>{{ version }}</td>
                {% for trade in trades %}
                    <td>{{ trade }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>


    <h2 style="color: red;">Reversal of a {{potential_trade}} </h2>
    <p>This shows if the current prediction still holds when the next candle stick reversed. If it continues in the same direction, then a reversed candle stick is a sign of retracement.</p>

    {% if potential_trade_rev == 'Buy' %}
    <div class="flash-container-buy">
        <div class="flash-box-buy">
            <p><b>NEXT: {{ version_comment_rev }}</b></p>
        </div>
    </div>
    {% elif potential_trade_rev == 'Sell' %}
        <div class="flash-container-sell">
            <div class="flash-box-sell">
                <p><b>NEXT: {{ version_comment_rev }}</b></p>
            </div>
        </div>
    {% endif %}
   
    <table>
        <thead>

            <tr>
                {% for label, headers in reverse_labels.items %}
                    <th></th>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
                
        </thead>
        <tbody>


            {% for version, trades in reverse_trade_results.items %}
            <tr>
                <td>{{ version }}</td>
                {% for trade in trades %}
                    <td>{{ trade }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <br>


</div>

<script>
    function toggleText() {
        var text = document.getElementById("hidden-text");
        if (text.style.display === "none") {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>

{% endblock content %}