{% extends 'main.html' %} 
{% block content %}

<div class="container container--narrow">
    

    <div class="price-notifications">
        <div class="price-notification">
            <span class="label">Date:</span>
            <span class="value">{{rounded_time}}</span>
        </div>
        <div class="price-notification">
            <span class="label">Open Price:</span>
            <span class="value">£{{open_prices.3|floatformat:2}}</span>
        </div>
        <div class="price-notification">
            <span class="label">Current Price:</span>
            <span class="value">£{{ close_prices.3|floatformat:2 }}</span>
        </div>
        <div class="price-notification">
            <span class="label">Estimated Volume:</span>
            <span class="value">{{ projected_volume|floatformat:0 }}</span>
        </div>
    </div>

    <div class="formPage my-md">
        <form action="" method="POST">
            {%csrf_token%} 
            {{form.as_p}}
            <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
        </form>
    </div>
      
    <h2>Extra Market Information</h2>
        <p> Last Date price was extracted: <b>{{date}}</b> </p>
        <p><big>Current 1 hr Candle Stick size: {{ candle_size.one|floatformat:3 }}, direction: <b> {{trade.one}} </b> </big></p>
        <p><big>Current 4 hr Candle Stick size: {{ candle_size.four|floatformat:3 }}, direction: <b> {{trade.four}} </b> </big></p>
        <p>Last open price 4 hrs ago: £{{ open_prices.0|floatformat:2 }} </p>


    <h1>Trade Opportunity<small>for next 1 to 4 hrs</small></h1>

        <p> v4 model seems to be more reliable and 1h_v5 model gives you immediate direction but could switch easily. Combine this with other readings.</p>
        <p> Model prediction </p>
        <div class=="flash-container">
            <div class="flash-box">
                <p><b> {{version_comment}} </b> </p>
            </div>
        </div>
        <table>
            <tr style="color:purple;"> 
                <td> Trade direction: </td> 
                <td><b> {{potential_trade}} </b></td>
            </tr>
            <tr style="color:red;">
                <td>Stop loss: </td>
                <td> <b> £{{stop_loss|floatformat:2}} </b></td>
            </tr>
            <tr style="color:blue;">
                <td>Best Entry point: </td>
                {% if open_prices.3|floatformat:2 > entry_point|floatformat:2 %}
                    <td> <b>£{{entry_point|floatformat:2}} - £{{open_prices.3|floatformat:2}} </b></td>
                {% else %}
                    <td> <b>£{{open_prices.3|floatformat:2}} - £{{entry_point|floatformat:2}} </b></td>
                {% endif %}
                
            </tr>
            <tr style="color:green;">
                <td>Target point: </td>
                <td> <b> £{{exit_point|floatformat:2}} </b></td>
            </tr>
            <tr style="color:orange;">
                <td>Risk Reward ratio: </td>
                <td> <b> {{risk_reward|floatformat:2}}</b></td>
            </tr>
            <tr style="color:orange;">
                <td>Entry at Bollinger Band: </td>
                <td> <b> £{{bb_target|floatformat:2}} </b></td>
            </tr>
        </table>
        <p>NOTE:</p>
        <p>Risk Reward greater than 1 is a good risk</p>
        <p>Bollinger Band entry is provided for medium and long term entry. Here you can set a 'limit' or 'stop' entry.</p>

    <h1>Analysis Report</h1>
    <h2>History</h2>

    <table>
        <thead>

            <tr>
                {% for label, headers in historical_labels.items %}
                  
                        <th></th>
                        {% for header in headers %}
                        <th>{{ header }}</th>
                        {% endfor %}
                
                {% endfor %}
            </tr>
                
        </thead>
        <tbody>

            {% for version, trades in historical_trade_results.items %}
            <tr>
                <td>{{ version }}</td>
                {% for trade in trades %}
                    <td>{{ trade }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <tr>
                <td>Open price</td>
                {% for price in open_prices %}
                <td>£{{ price|floatformat:2 }}</td>
                {% endfor %}

            </tr>

            <tr>
                <td>Volume</td>
                {% for vol in volume %}
                <td>{{ vol }}</td>
                {% endfor %}

            </tr>
            
        </tbody>
    </table>

    <h2>Sensitivity Test</h2>
        <p>This is a look ahead to see if current prediction hold. There are three cases:</p>
        <ul>
            <li>Current prediction is the same for both movements - Strong</li>
            <li>Current prediction is different from both models - Retracement</li>
            <li>Current prediction is consistent with forecast movement - Medium</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Movement</th>
                    <th>Sensitivity Results</th>
                </tr>
            </thead>
            <tbody>

                {% for variability, result  in pred_var_list.items %}
                <tr>
                    <td>{{ variability }}</td>
                
                        <td>{{ result }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>


     <h2>Prediction of reversal</h2>

        <table>
            <thead>
    
                <tr>
                        <th></th>
                        <th>3hr ago</th>
                        <th>2hr ago</th>
                        <th>1hr ago</th>
                        <th>current</th>
    
    
                </tr>
                    
            </thead>
            <tbody>
    
                <tr>
                    <td>Confirmation of Direction</td>
                    {% for pred in reverse_pred %}
                        <td>{{ pred }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Accuracy</td>
                    {% for prob in reverse_prob%}
                        <td>{{ prob|floatformat:2 }}%</td>
                    {% endfor %}
                </tr>
                
            </tbody>
        </table>
    
    <br>
    <hr>
    <h2 style="color: green;">Continuation of a {{potential_trade}} </h2>
    <p>This looks at how strong the movement. If it is strong, we would see same predictions of the same direction.</p>

    <table>
        <thead>

            <tr>
                {% for label, headers in continue_labels.items %}
                    <th></th>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
                
        </thead>
        <tbody>

            {% for version, trades in continue_trade_results.items %}
            <tr>
                <td>{{ version }}</td>
                {% for trade in trades %}
                    <td>{{ trade }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>


    <h2 style="color: red;">Reversal of a {{potential_trade}} </h2>
    <p>This shows if the current prediction still holds when the next candle stick reversed. If it continues in the same direction, then reversed candle stick is only a retracement.</p>
    <table>
        <thead>

            <tr>
                {% for label, headers in reverse_labels.items %}
                    <th></th>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
                
        </thead>
        <tbody>


            {% for version, trades in reverse_trade_results.items %}
            <tr>
                <td>{{ version }}</td>
                {% for trade in trades %}
                    <td>{{ trade }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <br>


</div>

{% endblock content %}