{% extends 'main.html' %} {% block content %}

<div class="container container--narrow">

    <div class="container">
        <h1>Notes</h1>
    
       <ul>
        <li>If you enter at an impulse, you will likely enter at the wrong point.</li>
        <li>If you trade too often, you will loss.</li>
        <li>You become stress when you not following any strategy.</li>
        <li>You have good observation but it is the wait that is stresing you.</li>
        <li>You have good observation but it is the wait that is stresing you.</li>
       </ul>

        <h1>Fears</h1>
    
       <ul>
        <li>If you take past lost you hesitate to do the good trade</li>
        <li>I seem to lose money when I chicken out so I kept my trade no more than 0.2.</li>
        <li>If you are afraid of big movement of reversal, you always want to trade from the top. This could be wrong in some situation.</li>
        <li>If you doing contrarian because you are focus on the risk that it hit the high and saver to trade the opposite. Again this may not be the case. Almost 80% this never happens. </li>
        <li>Do only 0.1 trade, there is no point to trade 0.4 trade until you become good. 99% of the time you will loss at the 0.4 and 0.1 you can tolerate.</li>
        <li>Extreme point is good area to do reversal, but you always have the fear or don't trust your strategy.</li>
        <li>Long term trade, will most likely recover to the breakeven if you enter at the right point(e.g. extreme point)</li>
        <li>Japan only make a big intervention back in 2022 so they don't do it often!</li>
        <li>The situation in 2024 is it seems the raise of interest rates didn't help JPY because of the big gap between USD interest rate still persist and cutting rates are delayed.</li>
        <li>If in historical table, there are buy buy buy and sell, then you could enter with caution as this could be a slight retracement.</li>
        <li>Volumne in trend should generally be big and dimensioning in time but a good judgement if trend is weakening.</li>


            <br>
            <br>
    </div>
</div>

{% endblock content %}